@model LoginUsersFormModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IT703_A2.styles.css" asp-append-version="true" />
</head>
<body>
    <section class="vh-100">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">

                <h1 class="text-center my-5">Tomive Hotel Management System</h1>

                <div class="col-4">
                    <img src="/tomive_corp.png" class="img-fluid"
                         alt="company logo image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <form method="post">
                        <!-- Email input -->
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="formEmail" asp-for="Email"></label>
                            <input type="email" id="formEmail" class="form-control"
                                   placeholder="Enter address" asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="formPassword" asp-for="Password"></label>
                            <input type="password" id="formPassword" class="form-control"
                                   placeholder="Enter password" asp-for="Password" />
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>
                            <p class="text-muted mt-3">
                                If you forgot your password or don't have an account, please contact system administrator.
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>

