:root{
    --bs-teal: nav-text-col;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav {
    background-color: #e5ffca;
    color: #cffba1;
}

.theme-btn {
    background-color: #b680db;
}

