html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav {
    background-color: #e5ffca;
    color: #cffba1;
}

.theme-btn {
    background-color: #b680db;
    font-weight: 600;
}

h1 {
    color: #8f6fc1;
}

nav li a:hover{
    border-bottom: none;
    transition: .5s;
    }

nav li a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0px 2.5px !important;
    padding: 0px 5px !important;
    transition: color .3s ease-in-out, box-shadow .4s ease-in-out !important;
}

nav li a:hover {
    box-shadow: inset 150px 0 0 0 #8861c7;
    color: white !important;
}

.card-img-top {
   width: 100%!important;
   height: 200px!important;
   object-fit: cover;
}
